openapi: 3.1.0
paths:
  /v1/external-api/public/company:
    post:
      operationId: PublicApiController_createPartnerCompany
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
      responses:
        '201':
          description: Company is successfully created
        '401':
          description: Invalid provided header token
      tags:
        - Public external api
  /v1/external-api/public/company/{externalCompanyId}:
    put:
      operationId: PublicApiController_updatePartnerCompany
      parameters:
        - name: externalCompanyId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
      responses:
        '204':
          description: Company is successfully created
        '401':
          description: Invalid provided header token
        '404':
          description: Company is not found
      tags:
        - Public external api
  /v1/external-api/public/company/{externalCompanyId}/employee:
    post:
      operationId: PublicApiController_createPartnerCompanyEmployee
      parameters:
        - name: externalCompanyId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalUserProfileRequest'
      responses:
        '201':
          description: External user profile successfully created
        '401':
          description: Invalid provided header token
        '404':
          description: Company is not found
        '409':
          description: User profile is already exists
      tags:
        - Public external api
    put:
      operationId: PublicApiController_updatePartnerCompanyEmployee
      parameters:
        - name: externalCompanyId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalUserProfileRequest'
      responses:
        '204':
          description: External user profile successfully updated
        '401':
          description: Invalid provided header token
        '404':
          description: Company is not found
        '409':
          description: User profile is not found
      tags:
        - Public external api
info:
  title: API
  description: API description
  version: 1.0.0-oas3.1
  contact: {}
servers:
  - url: https://stg-api.oitchau.com.br
    description: Stage server (uses test data)
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: dayio-token
  schemas:
    Company:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Address:
      type: object
      properties:
        city:
          type: string
          description: City
          examples: [Hulme]
        country:
          type: string
          description: Country code
          examples: [GB]
        formatted:
          type: string
          description: Full location string
          examples: ['100 Princess Rd, Hulme, Manchester M15 5AS, England']
        state:
          type: string
          description: State
          examples: [England]
        street:
          type: string
          description: Street
          examples: [Princess Rd]
        streetNumber:
          type: string
          description: Street number
          examples: ['100']
        zip:
          type: string
          description: Zip code
          examples: ['M15 5AS']
      required:
        - country
        - formatted
    Location:
      type: object
      properties:
        address:
          description: Address object
          allOf:
            - $ref: '#/components/schemas/Address'
      required:
        - address
    Owner:
      type: object
      properties:
        email:
          type: string
          description: Owner user email
        fullName:
          type: string
          description: Owner user full name
        externalId:
          type: string
          description: User primary identifier, used as user id reference between systems
      required:
        - email
        - fullName
        - externalId
    CreateCompanyRequest:
      type: object
      properties:
        name:
          type: string
          description: Company name
          examples: [My company]
        location:
          description: Location information
          allOf:
            - $ref: '#/components/schemas/Location'
        externalCompanyId:
          type: string
          description: >-
            Company primary identifier, used as company id reference between
            systems
        owner:
          description: Owner user intial information
          allOf:
            - $ref: '#/components/schemas/Owner'
      required:
        - name
        - externalCompanyId
        - owner
    UpdateCompanyRequest:
      type: object
      properties:
        name:
          type: string
          description: Company name
          examples: [My company]
        location:
          description: Location information
          allOf:
            - $ref: '#/components/schemas/Location'
      required:
        - name
    CreateExternalUserProfileRequest:
      type: object
      properties:
        externalId:
          type: string
          description: User profile id from client system
        subsidiary:
          type: string
          description: Subsidiary identifier
        cpf:
          type: string
          description: CPF
        pis:
          type: string
          description: PIS
        department:
          type: string
          description: Department identifier
        matricula:
          type: string
          description: Matricula
        isSupervisor:
          type: boolean
          description: Is provided user supervisor
        subsidiaryCnpj:
          type: string
          description: Subsidiary tax id/cnpj
        supervisorExternalId:
          type: string
          description: >-
            If user is a member of the team of some supervisor, provide his
            identifier
        position:
          type: string
          description: Position
        email:
          type: string
          description: Email
        phoneNumber:
          type: string
          description: Phone number
        active:
          type: boolean
          description: Is provider user active
        deactivationDate:
          type: string
          description: Deactivation date
        associateProducts:
          type: array
          description: Is provider user active
          example:
            - ta
          items:
            type: string
            enum:
              - ta
              - projects
        name:
          type: string
          description: User profile full name
      required:
        - externalId
        - name
    UpdateExternalUserProfileRequest:
      type: object
      properties:
        externalId:
          type: string
          description: User profile id from client system
        subsidiary:
          type: string
          description: Subsidiary identifier
        cpf:
          type: string
          description: CPF
        pis:
          type: string
          description: PIS
        department:
          type: string
          description: Department identifier
        matricula:
          type: string
          description: Matricula
        isSupervisor:
          type: boolean
          description: Is provided user supervisor
        subsidiaryCnpj:
          type: string
          description: Subsidiary tax id/cnpj
        supervisorExternalId:
          type: string
          description: >-
            If user is a member of the team of some supervisor, provide his
            identifier
        position:
          type: string
          description: Position
        email:
          type: string
          description: Email
        phoneNumber:
          type: string
          description: Phone number
        active:
          type: boolean
          description: Is provider user active
        deactivationDate:
          type: string
          description: Deactivation date
        associateProducts:
          type: array
          description: Is provider user active
          example:
            - ta
          items:
            type: string
            enum:
              - ta
              - projects
        name:
          type: string
          description: User profile full name
      required:
        - externalId
        - name
security:
  - ApiKeyAuth: []